{% extends 'base.html' %}

{% block title %}Authors{% endblock %}

{% block content %}
<div class="flex justify-center items-center min-h-[90vh]">
    <div class="bg-white text-gray-800 p-8 rounded-3xl shadow-2xl w-[36rem] border border-gray-200">
        <div class="flex justify-center items-center border-b border-gray-200 pb-6 mb-4">
            <h2 class="text-2xl font-bold text-gray-800">👥 Наши авторы</h2>
        </div>

        <div class="space-y-6 text-sm leading-relaxed">
            <div>
                <h3 class="font-semibold text-base">Вадим</h3>
                <p>Backend developer, database worker</p>
                <hr class="mt-4 border-gray-200">
            </div>

            <div>
                <h3 class="font-semibold text-base">Витя</h3>
                <p>Frontend developer</p>
                <hr class="mt-4 border-gray-200">
            </div>

            <div>
                <h3 class="font-semibold text-base">Костя</h3>
                <p>Team lead</p>
                <hr class="mt-4 border-gray-200">
            </div>

            <div>
                <h3 class="font-semibold text-base">Миша</h3>
                <p>Project manager</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
